body {
  font-family: 'Open Sans', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.App-left, .App-right {
  width: 100%;
}

.App-header {
  margin-bottom: 20px;
  text-align: left;
}

.App-header h1 {
  font-size: 2.5em;
  color: #007acc;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 122, 204, 0.5);
}

.App-header h2 {
  font-size: 1.8em;
  color: #333;
  margin-top: 10px;
}

.App-header p {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.contact-form input {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}

.contact-form button {
  padding: 10px 20px;
  background: #f60;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}

.contact-form p {
  margin-top: 10px;
  color: red;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  background: #002244;
  color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  width: calc(33% - 20px);
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.icon {
  font-size: 2em;
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  .App {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
  }

  .App-left, .App-right {
    width: 45%;
  }

  .App-left{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 

  .contact-form {
    flex-direction: row;
    align-items: center;
  }

  .contact-form input {
    width: auto;
    flex: 1;
  }

  .contact-form button {
    width: auto;
    margin-left: 10px;
  }

  .services {
    justify-content: flex-start;
  }

  .service {
    width: calc(33% - 20px);
    margin: 10px;
  }
}

@media (max-width: 1024px) {
  .App-header h1 {
    font-size: 2em;
  }

  .contact-form input, .contact-form button {
    width: 90%;
  }

  .App-left, .App-right {
    width: 100%;
  }

  .services {
    justify-content: space-around;
  }

  .service {
    width: 45%;
  }
}

@media (max-width: 720px) {

  .App-header h1 {
    font-size: 1.8em;
  }

  .App-left, .App-right {
    width: 100%;
  }

  .services {
    justify-content: space-around;
  }

  .service {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .App-header h1 {
    font-size: 1.5em;
  }

  .contact-form input, .contact-form button {
    width: 100%;
  }

  .service {
    width: 100%;
  }
}
